.h1{
    text-emphasis-color:black;
}

body {
    background:aqua;
    color: black;
}
  
.mine-sweeper {

    margin: auto;
    position: absolute;
}

table {
    border-collapse:separate;
    border-spacing: 10px;
}

.cell {
    width: 50px;
    height: 50px;
    border-radius: .5em;
    /* color: grey */
   background: gray
    /* border: 1px solid gray; */
}
.mine {
    /* background: red */
    background: gray
}

.selectedMine{
    background: red
}

.selected {
    background: lightcyan
}
.marked {
    background: red
}
.shown{
    background: lightgray
}


p {
    color: black;
    position: absolute;
    margin: 10px;
}

/* .cell .mine .marked .shown{
    background: yellow
} */


/* .seat.booked:hover {
    background: linear-gradient(to top,  black, gray);
    cursor: not-allowed;
}

.popup {
    background-color: orange;
    padding: 20px;
    position: absolute;
    right: 0px;
    top: 20px;
} */


.timer{
    color: white;
    font-size: large;
}

.modal {
    background-color: green;
    border: 5px solid white;
    width: 100px;
    padding: 20px;
    position: absolute;
    top: 300px;
    left: calc(50% - 175px);
}

.hide {
    display: none;
}


.modal2 {
    background-color: orange;
    border: 5px solid white;
    width: 100px;
    padding: 20px;
    position: absolute;
    top: 300px;
    left: calc(50% - 175px);
}

.hide2 {
    display: none;
}